<p>Hey {{ name }} Lets reset yuor pass</p>
<p>
    <a class="button" href="{{ url }}">New pass</a>
</p>

<p>If the button doesent work:</p>

<p>
    <a href="{{ url }}">{{ url }}</a>
</p>

<style>
    .button {
    display: block;
    width: 155px;
    height: 35px;
    background: #4E9CAF;
    padding: 4px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}
</style>